* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sens-serif;
  height: 100vh;
  background-color: #282d35;
}
nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}
.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebfb;
  font-weight: 600;
}

nav > img {
  height: 30px;
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url(../reaqt1scrimba/img/images.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}
.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
  font-family: Inter;
  font-weight: bold;
  font-style: normal;
}
.main--facts {
  margin-top: 46px;
}

.main--facts > li {
  font-size: 16px;
  line-height: 19px;
  padding-block: 10px;
}
.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}
